.eventItem-wrapper {
  width: $eventItem-width;
  height: $eventItem-height;
  background-color: $hanteo-blue;
  @include boxSet($eventItem-width, $eventItem-height, none, 10px 0);
  padding: 20px;
  @include fontSet(24px, bold, white);
}

.eventItem-content {
  @include fontSet(16px, normal, white);
}
