.header-navbar {
  width: 100%;
  height: 40px;
  background-color: $hanteo-hotpink;
  position: relative; // 좌우 버튼을 네비게이션 바 내에 위치시킵니다.
  ul {
    display: flex;
    justify-content: center;
    li {
      margin: 7px;
      a {
        text-decoration: none;
        color: black;
        font-size: 16px;
        font-weight: bold;

        &:hover {
          color: gray;
        }

        &.active {
          color: white;
        }
      }
    }
  }

  .scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    background: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;

    svg {
      width: 16px;
      height: 16px;
    }
  }
  .header-left {
    left: 2px;
  }
  .header-right {
    right: 2px;
  }

  &:hover .scroll-button {
    display: inline-block;
  }
}
