$hanteo-hotpink: #fb4ea1;
$hanteo-blue: #269dd4;
$hanteo-gray: #d9d9d9;
$hanteo-orange: #ffb74a;
$hanteo-green: #1eee8d;
$hanteo-violet: #c709c7;
$hanteo-yellow: #f0f34b;

$base-width: 425px;
$base-height: 100%;

$contents-width: 415px;
$contents-height: 250px;

$chartItem-width: 415px;
$chartItem-height: 60px;

$whookItem-width: 415px;
$whookItem-height: 200px;

$eventItem-width: 415px;
$eventItem-height: 200px;

$newsItem-width: 205px;
$newsItem-height: 200px;

$storeItem-width: 300px;
$storeItem-height: 100px;

$chargeItem-width: 360px;
$chargeItem-height: 150px;
