$hanteo-hotpink: #fb4ea1;
$hanteo-blue: #269dd4;
$hanteo-gray: #d9d9d9;
$hanteo-orange: #ffb74a;
$hanteo-green: #1eee8d;

$base-width: 425px;
$base-height: 100%;

$contents-width: 415px;
$contents-height: 250px;

$chartItem-width: 415px;
$chartItem-height: 60px;

$whookItem-width: 415px;
$whookItem-height: 200px;

$eventItem-width: 415px;
$eventItem-height: 200px;

$newsItem-width: 205px;
$newsItem-height: 200px;
